.login-page{
    display: flex;
    height:100%;
    /* background-image:  url('./imag4.jpeg'); */
    /* background-color: white; */

    align-items: center;
    justify-content: center;
}

.container{
    margin: 7em auto; 
    min-height: 450px;
    height: 70%;
    display: flex;
    border-radius: 2% 2% 2% 2%;
    box-shadow:  4px 4px 6px 2px rgb(39,222,191);
}
.image-left{
    width: 100%;
    height: 100%;
    background-image: url('./img.jpg');
    background-size: 650px 500px;
    background-repeat: no-repeat;
    background-position: contain;
}
.sub-container-right{
    display: flex;
    flex-direction: column;
    flex:2;
    background-color: #f0f5ff;
    align-items: center;
    justify-content: center;
}
.image-right{
    width: 50%;
    height: 30%;
    background-image:  url('./imag3.jpg');
    background-size: 200px 140px;
    background-repeat: no-repeat;
    background-position: contain;
}

.login-title{
    text-align: center;
    font-size: large;
    text-shadow: 2px 4px 2px yellow;
}
.input-container{
width: 90%;
padding: 5px;
}
input {
    width: 100%;
    height: 40px;
    border:none;
    background-color: inherit;
    border-bottom: 1px solid gray !important;
    transition: all linear 0.1s;
}
:focus {
    outline-style: none !important;
    border:none !important;
    border-bottom: 2px solid blue !important;

}
/* button{
    width: 100%;
    height: 40px;
    background-color: #d9f7be;
    border-color: #d9f7be;
    border-radius: 5px;
} */
.forgot-passwprd{
    padding: 5px;
    padding-bottom: 0px;
}
p{
    color: darkolivegreen;
    font-size: small;

}
@media (min-width: 801px) {
.container{
    width: 75%;
    min-width: 800px;
}
.sub-container-right{
    border-radius: 0 2% 2% 0;
}
.sub-container-left{
    flex: 3;
    background-color: darkred;
    border-radius: 0 2% 2% 0;
}
}

@media (max-width: 600px) {
    .container {
       width: 90%;
    }
    .sub-container-right{
        border-radius: 0 2% 2% 0;
    }
    .sub-container-left{
        display: none;
    }
}
